<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<br />
<p>
    Splurty was built by <a target="_blank" href="https://zoitgoes.netlify.com">Lorenzo</a>; A fresh developer that sees user friendly applications and equipment the only way to effectively express new ideas to mass groups of people.  
  </p>
  <br />
  <p>
    My current journey consists of allowing all stages of businesses to sell their product or ideas quickly and efficiently. I want to enable businesses to promote their mission through dynamic, stylistic, and easy-to-use applications.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'lorenzo.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Lorenzo Wolff</h2>
      <br />
      <p>
        Lorenzo is a web developer and college student.
      </p>
    </div>
  </div>



</div>

<br class="clear" />
  <br />
  <br />
  <br />
  <br />
